# Лекция 1. Основы Python для анализа данных

Python стал общепринятым языком для многих сфер применения науки 
о данных (data science). Он сочетает в себе мощь языков 
программирования с простотой использования предметно ориентированных скриптовых языков типа MATLAB или R. 
Разберемся с азами его использвания, чтобы свободно применять их при анализе данных.

## О том, где будем работать

Вариантов много, для удобства предложу два:
* Google Colab - https://colab.research.google.com/?hl=ru-ru
* Jupiter Notebook (входит в пакет Anaconda) - https://www.anaconda.com/

Анализ данных будет проводиться в записках Jupiter Notebook (расширение файла .ipynb)

Репозиторий курса - https://github.com/yourrandomface/DA_VVSU_2022

## О Jupiter Notebook

Jupyter-ноутбук — это среда разработки, где сразу можно видеть результат выполнения кода и его отдельных фрагментов. Отличие от традиционной среды разработки в том, что код можно разбить на куски и выполнять их в произвольном порядке. Представьте, что вы можете написать кусочек кода на салфетке и сказать салфетке: «Выполнись». - Журнал "КОД" - https://thecode.media/jupyter/

шорткаты:
* ctrl+enter - выполнить ячейку
* B - создать ячейку кода ниже
* DD - удалить ячейку

## О Python

Python — один из самых популярных языков в мире, и его популярность всё растёт. В рейтинге TIOBE за январь 2020 года он занял третье место, сразу после Java и С. Python используется в Google, Yahoo! , IBM и даже NASA и CERN. Впервые язык Python был анонсирован в 1991 году голландским разработчиком Гвидо Ван Россумом. С тех пор данный язык проделал большой путь развития. В 2000 году была издана версия 2.0, а в 2008 году - версия 3.0. Несмотря на вроде такие большие промежутки между версиями постоянно выходят подверсии. Так, текущей актуальной версией на момент написания данного материала является 3.10, которая вышла в октябре 2021 года.

Оф.сайт - https://www.python.org/

Особенности Python:
* Python - язык-интерпретатор (код в Python не переводится в машинный код, а выполняется программой-интерпретатором)
* Объектно-ориентированный язык — это язык, созданный по модели объектно-ориентированного программирования
* Динамическая типизация - свобода, типы переменных определяются после запуска программы

Основные сферы применения:
* веб-разработка;
* машинное обучение;
* интернет вещей;
* проекты с искусственным интеллектом, нейросети;
* Data Science, аналитика;
* некоторые игры.

## Давайте начнем

In [2]:
#первая программа на Python
print("Привет, мир!")

Привет, мир!

* Команда print - вывод любой информации в консоль
* '#' - комментарии - используем для текстовых заметок в ячейках с кодом

In [3]:
#простые типы данных
print(3) # int - целое число
print(3.555) # float - число с плавающей точкой
print('Text') # str (string) - строка
print(True) # bool - булевая переменная (True или False)

3
3.5
Text
True

In [21]:
#как узнать тип данных? - метод type
print(type(5.55))

<class 'float'>

Встроенными методами int, float и str можно преобразовать необходимые элементы

In [14]:
print(float('5.5')) #передаем команде int строку с числом 5
print(type(float('5.5')))

5.5
<class 'float'>

## Переменные

Переменная (от англ. variable) — поименованная или адресуемая иным способом область памяти, которую можно использовать для доступа к данным.

Переменная простыми словами — это хранилище данных. Сюда можно положить какое-то значение (например, число, строку или другой тип данных). Еще более простой вариант представить себе переменную — подумать о том, что нас окружает. Например, переменной может быть какой-то небольшой мешочек, куда можно положить, к примеру, яблоко. Оно будет там находиться до тех пор, пока мы не решим произвести с яблоком какие-то действия.

В программе переменную нужно объявить прежде чем использовать. Переменная объявляется с помощью оператора присваивания - знака =.

In [19]:
a=10
print(a)

10

Для имени переменной используется любой набор допустимых символов, к которым относятся буквы английского алфавита, цифры и знак _. При этом цифру нельзя ставить в начале. Имена переменных регистрозависимы, то есть имя hello и имя heLLo - это два разных имени, а значит и две переменные. Регистр в Python имеет важное значение, никогда не забывайте про него.

In [20]:
hello='HELLO'
heLLo='hello'
print(hello)
print(heLLo)

HELLO
hello

Ещё одно важное правило: переменные должны называться в соответсвии со значением, которое они несут. Переменная, хранящая в себе имя, должна называться name, возраст - age, город - city...

In [17]:
player='Месси'
game='Футбол'
club='PSG'
print(player)
print(game)
print(club)

Месси
Футбол
PSG

In [18]:
#команда print также поддерживает возможность вывода нескольких элементов в одной строке: 
#для этого нужно передать несколько аргументов через запятую
print('Футболист',player)
print('Играет в',game,'в клубе',club)

Футболист Месси
Играет в Футбол в клубе PSG

Обратите внимание, что ячейки наследуются последовательно. В ячейке выше записаны значения всех переменных, а уже в следующей ячейке эти переменные используются вновь без повторного объявления.

In [22]:
#строковые переменные можно объединять между собой знаком +
str1='Соединяем строки'
str2=' в одно большое'
str3=' предложение'
final_string=str1+str2+str3
print(final_string)
print(str1+str2+str3)

Соединяем строки в одно большое предложение
Соединяем строки в одно большое предложение

In [23]:
#меняем значение переменной в ходе выполнения программы
name='Oleg'
print(name)
name='Ivan'
print(name)

Oleg
Ivan

In [25]:
name1='Kirill'

In [26]:
print(name1)

Kirill

## Как дела с матешей в этом вашем Python?

In [27]:
print(10+10) # сложение
print(10-10) # вычитание
print(10*10) # умножение
print(10/10) # деление

20
0
100
1.0

In [28]:
#удивительная особенность деления в том, что оператор деления всегда возвращает результат в виде числа с плавающей точкой (float)
print(10/2)
print(10/3)

5.0
3.3333333333333335

In [32]:
#над переменными также можно проводить все арифметические операции
a=10
b=3
c=a*b
c

30

In [33]:
a=10
b=3
a=a+b
print(a)

13

In [35]:
#сокращенная запись
a=10
b=3
a*=b #a=a*b
print(a)

30

In [37]:
# а теперь ещё и целочисленное деление - два знака //
# целочисленное деление - в результате возвращается только целая часть от деления
# самое интересное, что в этом случае при делении возвращается целое число (тип данных int, а не float)
10//10

1

In [38]:
#пробуем получить остаток от деления
print(10%3)
print(10%2)
print(18%3)
print(18%5)
print(99%99)

1
0
0
3
0

Хорошо понять логику получения остатка можно с помощью примера четных чисел. Для тех, кто не знает или забыл: четное число - число, которое нацело делится на два (10,12,14). При получении остатка от деления на два есть только два результата: либо 0, либо 1. Если же 0, то мы говорим что число делится на два без остатка и является четным. 1 - есть остаток, число нечетное.

In [39]:
print(10%2) #остаток четного числа
print(11%2) #остаток нечетного числа

0
1

## Структуры данных: списки (lists) и словари (dicts)

Структуры данных – это, по сути, и есть структуры, которые могут хранить некоторые данные вместе. Другими словами, они используются для хранения связанных данных.

В Python существуют четыре встроенных структуры данных: список, кортеж, словарь и множество.

*Список* – это структура данных, которая содержит упорядоченный набор элементов, т.е. хранит последовательность элементов. Это легко представить, если вспомнить список покупок, в котором перечисляется, что нужно купить, с тем лишь исключением, что в списке покупок каждый элемент обычно размещается на отдельной строке, тогда как в Python они разделяются запятыми.

In [40]:
#два способа создать список
names1 = ['Ivan','Oleg','Anna','Artem']
names2 = list(['Lev','Pavel','Alex','Maxim'])
print(names1)
print(names2)

['Ivan', 'Oleg', 'Anna', 'Artem']
['Lev', 'Pavel', 'Alex', 'Maxim']

In [41]:
type(names1)

list

In [42]:
#методы списков
from IPython.display import Image
Image(url= "https://baguzin.ru/wp/wp-content/uploads/2016/05/%D0%A0%D0%B8%D1%81.-4.-%D0%9C%D0%B5%D1%82%D0%BE%D0%B4%D1%8B-%D1%81%D0%BF%D0%B8%D1%81%D0%BA%D0%B0.jpg")

In [43]:
#добавим в список новое имя
names1.append('Fedor')
names1

['Ivan', 'Oleg', 'Anna', 'Artem', 'Fedor']

In [44]:
names1.reverse()
names1

['Fedor', 'Artem', 'Anna', 'Oleg', 'Ivan']

In [45]:
#удалим элемент из списка
names1.remove('Artem')
names1

['Fedor', 'Anna', 'Oleg', 'Ivan']

In [47]:
#при индексы
names1.index('Ivan')

3

In [48]:
#добавим элемент списка в необходимую позицию
names1.insert(0,'Artem')
names1

['Artem', 'Fedor', 'Anna', 'Oleg', 'Ivan']

In [49]:
#сортировка
names1.sort()
names1

['Anna', 'Artem', 'Fedor', 'Ivan', 'Oleg']

In [52]:
names1.sort(reverse=True)
names1

['Oleg', 'Ivan', 'Fedor', 'Artem', 'Anna']

In [53]:
#кол-во элементов в списке
len(names1)

5

In [55]:
names1.append('Oleg')

In [56]:
#подсчет количества значений
print(names1.count('Oleg'))
print(names1.count('Andrey'))

2
0

In [64]:
names1[1]

'Ivan'

In [57]:
#объединение списков
names1.extend(names2)
names1

['Oleg',
 'Ivan',
 'Fedor',
 'Artem',
 'Anna',
 'Oleg',
 'Lev',
 'Pavel',
 'Alex',
 'Maxim']

Словари в Python - неупорядоченные коллекции произвольных объектов с доступом по ключу. Их иногда ещё называют ассоциативными массивами или хеш-таблицами.

In [65]:
students1={'отличник':'Oleg','работает на заводе':'Alex','волонтер':'Ivan'}
students1

{'отличник': 'Oleg', 'работает на заводе': 'Alex', 'волонтер': 'Ivan'}

In [59]:
type(students1)

dict

In [72]:
students1['волонтер']

'Ivan'

In [67]:
car = {
  "Company": "Toyota", 
  "model": "Premio", 
  "year": 2012 
}

In [68]:
car['Company']

'Toyota'

## Условия

In [73]:
Image(url= "")

if - то самое ключевое слово в Python, которое объявляет наличие условия в программе

In [79]:
#проверим, проходим ли мы по возрасту для просмотра фильма Тарантино "Омерзительная восьмерка"
age=15
if age>=18:
    print('Приятного просмотра')
elif age<18 and age>=16:
    print('Проход с родителями')
else:
    print('Где твои родители?')

Где твои родители?

In [81]:
if 'Вова' in names1:
    print('Привет, Олег!')

## Циклы

Если хотим выполнить действие несколько раз, пробежаться по элемантам списка - добро пожаловать в циклы

While - один из самых универсальных циклов в Python, поэтому довольно медленный. Выполняет тело цикла до тех пор, пока условие цикла истинно.

In [82]:
#цикл while
i = 5
while i < 15:
    print(i)
    i = i + 2

5
7
9
11
13

Цикл for уже чуточку сложнее, чуть менее универсальный, но выполняется гораздо быстрее цикла while. Этот цикл проходится по любому итерируемому объекту (например строке или списку), и во время каждого прохода выполняет тело цикла.

In [84]:
print('kek'*2)

kekkek

In [83]:
for i in 'вгуэс первый':
    print(i * 2)

вв
гг
уу
ээ
сс

пп
ее
рр
вв
ыы
йй

In [85]:
for i in names1:
    print(i)

Oleg
Ivan
Fedor
Artem
Anna
Oleg
Lev
Pavel
Alex
Maxim

In [86]:
for i in names1:
    if i=='Oleg':
        print(i)

Oleg
Oleg

In [87]:
for i in names1:
    if i=='Oleg':
        continue
    print(i)

Ivan
Fedor
Artem
Anna
Lev
Pavel
Alex
Maxim

In [88]:
for i in names1:
    if i=='Artem':
        break
    print(i)

Oleg
Ivan
Fedor

Для итерации по ранжированному списку используем range

In [92]:
# у range три параметра - начало отсчета, конец отсчета, и шаг итерации
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [93]:
#цикл с занесением четных чисел в список
numbers=[]
for i in range(0,100):
    if i%2==0:
        numbers.append(i)

In [97]:
numbers[10:20]

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

В догонку:
* курс для начинающих - https://stepik.org/course/58852/promo?search=1072560839
* курс повеселее - https://stepik.org/course/68343/promo?search=1072560838